**HomeWork/TODO - Data Inspection and Handling Missing Values**

Inspect yelp dataset and clean missing values using different techniques. Provide detailed documentation.

**Exploring Data using pandas**

**1. Loading Data**

In [ ]:
import pandas as pd
data = pd.read_excel("yelp.xlsx")

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

**2. Inspect Data**

In [ ]:
# index attributes
data.index

RangeIndex(start=0, stop=600, step=1)

In [ ]:
# inspect first five rows
data.head()

,name,category_0,category_1,take_out,review_count,stars
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11.0,2.5
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5

In [ ]:
# inspect last five rows
data.tail()

,name,category_0,category_1,take_out,review_count,stars
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
597,Jack In the Box,Restaurants,Fast Food,True,12.0,3.0
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0

In [ ]:
# shape attribute to get rows and columns of your dataframe
data.shape

(600, 6)

In [ ]:
# columns attributes to check column names
data.columns

Index(['name', 'category_0', 'category_1', 'take_out', 'review_count',
       'stars'],
      dtype='object')

In [ ]:
# data types of column data
data.dtypes

name             object
category_0       object
category_1       object
take_out         object
review_count    float64
stars           float64
dtype: object

In [ ]:
data.count()

name            600
category_0      600
category_1      600
take_out        586
review_count    594
stars           591
dtype: int64

**3. Summarising and computing descriptive statistics**

 Calling DataFrame’s sum method returns a Series containing column sums. Passing axis=1 sums over the rows instead.

In [ ]:
# sum of each column
data.sum()

name            China Sea Chinese RestaurantDiscount Tire Cent...
category_0      RestaurantsTiresRestaurantsShoppingFoodFoodRes...
category_1      ChineseAutomotiveHot DogsFlowers & GiftsGrocer...
take_out                                                      186
review_count                                              20202.0
stars                                                      2059.5
dtype: object

In [ ]:
# sum of each row
data.sum(axis = 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

0      13.5
1      28.5
2       7.5
3      10.0
4      11.5
       ...
595     9.5
596     4.5
597    15.0
598    13.0
599     5.0
Length: 600, dtype: float64

In [ ]:
data.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

take_out         0.317406
review_count    34.010101
stars            3.484772
dtype: float64

In [ ]:
data.mean(axis = 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0       6.75
1      14.25
2       3.75
3       5.00
4       5.75
       ...
595     4.75
596     2.25
597     7.50
598     6.50
599     2.50
Length: 600, dtype: float64

In [ ]:
# generate desciptive statistics
data.describe()

       review_count       stars
count    594.000000  591.000000
mean      34.010101    3.484772
std       87.305321    0.957453
min        3.000000    1.000000
25%        5.000000    3.000000
50%       10.000000    3.500000
75%       26.000000    4.000000
max     1305.000000    5.000000

In [ ]:
data['take_out'].describe()

count       586
unique        2
top       False
freq        400
Name: take_out, dtype: object

** 4. Looking for missing data**

In [ ]:
data.isnull()

      name  category_0  category_1  take_out  review_count  stars
0    False       False       False     False         False  False
1    False       False       False     False         False  False
2    False       False       False     False         False  False
3    False       False       False     False         False  False
4    False       False       False     False         False  False
..     ...         ...         ...       ...           ...    ...
595  False       False       False     False         False  False
596  False       False       False     False         False  False
597  False       False       False     False         False  False
598  False       False       False     False         False  False
599  False       False       False     False         False  False

[600 rows x 6 columns]

In [ ]:
data.isnull().sum()

name             0
category_0       0
category_1       0
take_out        14
review_count     6
stars            9
dtype: int64

In [ ]:
data.isna().sum()

name             0
category_0       0
category_1       0
take_out        14
review_count     6
stars            9
dtype: int64

**5. Handling Missing Value (Numerical**

**Droping missing values**

In [ ]:
#dropna() drops any row containing missing values. 
newdf = data.dropna()

In [ ]:
newdf.shape

(572, 6)

In [ ]:
filtered_df = data[data.notnull()]
filtered_df.shape

(600, 6)

In [ ]:
newdf1 = data.dropna(axis = 1)
newdf1.head()

                           name   category_0       category_1
0  China Sea Chinese Restaurant  Restaurants          Chinese
1          Discount Tire Center        Tires       Automotive
2                  Frankfurters  Restaurants         Hot Dogs
3             Fred Dietz Floral     Shopping  Flowers & Gifts
4                 Kuhn's Market         Food          Grocery

**Filling Missing value**

In [ ]:
# using fillna() without any paramters
data.fillna(0)

,name,category_0,category_1,take_out,review_count,stars
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11.0,2.5
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
...,...,...,...,...,...,...
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
597,Jack In the Box,Restaurants,Fast Food,True,12.0,3.0
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0

In [ ]:
#Calling fillna with a dict you can use a different fill value for each column
data.fillna({"take_out":'False','review_count':10,'stars':3})[:50]

,name,category_0,category_1,take_out,review_count,stars
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11.0,2.5
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
5,Lincoln Bakery,Food,Bakeries,True,25.0,4.0
6,Luigi's Pizzeria,Restaurants,Pizza,True,18.0,3.0
7,Mane Attractions Unlimited,Hair Salons,Beauty & Spas,False,4.0,3.0
8,R & B's Pizza Place,Restaurants,Pizza,True,17.0,4.0
9,Rusty Nail,Restaurants,American (Traditional),True,32.0,3.5
10,Star Nails,Beauty & Spas,Nail Salons,False,7.0,2.5
11,Vivo,Restaurants,Italian,False,3.0,3.0
12,Emil's Lounge,Bars,American (New),True,26.0,4.5
13,Grand View Golf Club,Active Life,Golf,False,3.0,5.0
14,Advance Auto Parts,Automotive,Auto Parts & Supplies,False,3.0,3.5
15,Alexion's Bar & Grill,Bars,American (Traditional),True,10.0,4.0
16,Alteration World,Local Services,Sewing & Alterations,False,10.0,4.5
17,Amerifit,Active Life,Boxing,False,8.0,3.0
18,Barb's Country Junction Cafe,Restaurants,Cafes,False,9.0,4.0
19,Carnegie Free Library,Public Services & Government,Libraries,False,4.0,4.5
20,Don Don Chinese Restaurant,Restaurants,Chinese,True,10.0,2.5
21,Extended Stay America - Pittsburgh - Carnegie,Hotels & Travel,Event Planning & Services,False,11.0,3.5
22,Flynn's Tire & Auto Service,Auto Repair,Automotive,False,9.0,2.5
23,Forsythe Miniature Golf & Snacks,Active Life,Mini Golf,False,4.0,4.0
24,Gab & Eat,Breakfast & Brunch,Sandwiches,True,69.0,4.5
25,Heidelberg B P,Automotive,Gas & Service Stations,False,4.0,3.0
26,Kings Family Restaurant,Burgers,Breakfast & Brunch,True,10.0,3.5
27,Knorr's Sunoco Service,Automotive,Gas & Service Stations,False,3.0,3.5
28,Paddy's Pour House,Pubs,Irish,True,8.0,3.5
29,Papa J's,Restaurants,Italian,True,81.0,3.5
30,Porto Fino Pizzaria & Gyro,Restaurants,Pizza,False,4.0,2.5
31,Quaker State Construction,Home Services,Roofing,False,3.0,2.5
32,Rocky's Lounge,Bars,American (Traditional),True,10.0,4.0
33,Rossi Tailoring & Cleaners,Local Services,Dry Cleaning & Laundry,False,3.0,3.0
34,Shop N' Save,Food,Grocery,True,5.0,4.0
35,"Weinberg Lisa, DMD",Health & Medical,Dentists,False,8.0,2.5
36,Barnes & Noble Booksellers,Shopping,"Books, Mags, Music & Video",False,19.0,3.5
37,Bath & Body Works,Shopping,Cosmetics & Beauty Supply,False,5.0,4.5
38,Bed Bath & Beyond,Department Stores,Fashion,False,9.0,3.0
39,Dave & Buster's,Arts & Entertainment,American (Traditional),True,106.0,2.5
40,Dick's Sporting Goods,Sporting Goods,Fashion,False,10.0,2.5
41,DSW Designer Shoe Warehouse,Shopping,Fashion,False,5.0,4.0
42,Duke's Upper Deck Cafe,Pubs,Bars,True,33.0,3.5
43,Enterprise Rent-A-Car,Hotels & Travel,Car Rental,False,4.0,3.5
44,Filene's Basement,Department Stores,Fashion,False,7.0,3.5
45,First Class Limousine Service,Hotels & Travel,Airport Shuttles,False,12.0,4.5
46,Giant Eagle,Food,Grocery,False,31.0,3.5
47,Gordon Shoes,Shopping,Fashion,False,6.0,4.0
48,Homestead Capri Pizza,Italian,Pizza,True,4.0,2.0
49,Italian Village Pizza,Restaurants,Pizza,False,6.0,2.5

In [ ]:
# dataframe.bfill () is used to backward fill the missing values in the dataset. It will backward fill the NaN values that are present in the pandas dataframe
data.fillna(method='bfill')
data.bfill()[:100]

,name,category_0,category_1,take_out,review_count,stars
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11.0,2.5
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
...,...,...,...,...,...,...
95,Aamco Transmissions,Auto Repair,Automotive,False,21.0,4.5
96,Animal Rescue League Shelter & Wildlife Center,Animal Shelters,Veterinarians,False,43.0,4.0
97,Aracri's Greentree Inn,Italian,American (New),True,15.0,3.5
98,Atch-Mont Real Estate,Real Estate Services,Property Management,False,3.0,2.0
99,Atria's Restaurant,American (New),Sandwiches,False,69.0,3.0

In [ ]:
# The ffill () method replaces the NULL values with the value from the previous row (or previous column, if the axis parameter is set to 'columns' )
data.fillna(method = 'ffill')
data.ffill()[:100]

,name,category_0,category_1,take_out,review_count,stars
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11.0,2.5
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
...,...,...,...,...,...,...
95,Aamco Transmissions,Auto Repair,Automotive,False,21.0,4.5
96,Animal Rescue League Shelter & Wildlife Center,Animal Shelters,Veterinarians,False,43.0,4.0
97,Aracri's Greentree Inn,Italian,American (New),True,15.0,3.5
98,Atch-Mont Real Estate,Real Estate Services,Property Management,False,3.0,2.0
99,Atria's Restaurant,American (New),Sandwiches,False,69.0,3.0

In [ ]:
data.fillna({'take_out':'Empty','review_count':data['review_count'].mean()})

,name,category_0,category_1,take_out,review_count,stars
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11.0,2.5
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
...,...,...,...,...,...,...
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
597,Jack In the Box,Restaurants,Fast Food,True,12.0,3.0
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0

In [ ]:
# interpolate values
data.interpolate()

,name,category_0,category_1,take_out,review_count,stars
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11.0,2.5
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
...,...,...,...,...,...,...
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
597,Jack In the Box,Restaurants,Fast Food,True,12.0,3.0
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0

**6 Handling missing values(Categorical)**

**Deleting values**

In [ ]:
# Drop an observation or row. Drops second and third row
data.drop([1,2])

,name,category_0,category_1,take_out,review_count,stars
0,China Sea Chinese Restaurant,Restaurants,Chinese,True,11.0,2.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
5,Lincoln Bakery,Food,Bakeries,True,25.0,4.0
6,Luigi's Pizzeria,Restaurants,Pizza,True,18.0,NaN
...,...,...,...,...,...,...
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
597,Jack In the Box,Restaurants,Fast Food,True,12.0,3.0
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0

In [ ]:
# Drop a row by condition, drops name with China Sea Chinese Restaurant
data[data.name != 'China Sea Chinese Restaurant']

,name,category_0,category_1,take_out,review_count,stars
1,Discount Tire Center,Tires,Automotive,False,24.0,4.5
2,Frankfurters,Restaurants,Hot Dogs,True,3.0,4.5
3,Fred Dietz Floral,Shopping,Flowers & Gifts,False,6.0,4.0
4,Kuhn's Market,Food,Grocery,False,8.0,3.5
5,Lincoln Bakery,Food,Bakeries,True,25.0,4.0
...,...,...,...,...,...,...
595,Republic Services of Southern Nevada Recycling...,Local Services,Recycling Center,False,7.0,2.5
596,SA Recycling,Local Services,Recycling Center,False,3.0,1.5
597,Jack In the Box,Restaurants,Fast Food,True,12.0,3.0
598,Custom Hearth & Door,Shopping,Heating & Air Conditioning/HVAC,False,9.0,4.0
599,A Sunrise Towing,Automotive,Towing,False,4.0,1.0

**Replacing with mode**

In [ ]:
data['review_count'] = data['review_count'].fillna(data['review_count'].mode()[0])